#placesmap { height: 600px; }

#header-wrapper {padding-left: 15px; margin-top: 5px; padding-bottom: 20px;}

.card-header {
	color: white;
	background-color: #3F51B5;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #3F51B5;
}

.nav-tabs {
	margin-bottom: 10px;
}

.md-dialog-container {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5000;
	overflow: hidden;
}