#placesmap { height: 600px; }

#header-wrapper {padding-left: 15px; padding-bottom: 20px;}

.card-header {
	color: white;
	background-color: #3F51B5;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #3F51B5;
}

.md-dialog-container {
	z-index: 5000;
}