<!DOCTYPE html>

<!-- ANGULAR MODULE -->
<html ng-app="healthtrack">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Databox Healthtrack</title>

   <link rel="stylesheet" href="/public/bootstrap.min.css">
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #healthpoint-list       { margin-bottom:30px; }
    </style>

    <script src="/public/bootstrap.min.js"></script><!-- load bootstrap js -->
    <script src="/public/jquery.min.js"></script><!-- load jquery -->
    <script src="/public/angular.min.js"></script><!-- load angular -->
    <script src="core.js"></script>

</head>
<!-- SET THE CONTROLLER - GET ALL HEALTH POINTS-->
<body ng-controller="mainController">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">HealthTrack</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Dashboard</a></li>
            <li><a href="#">Heatmaps</a></li>
            <li><a href="#">Warnings</a></li>
            <li><a href="/feedback">Feedback</a></li>
          </ul>
        </div>
      </div>
    </nav>

<div class="container-fluid">


    <!-- HEALTHPOINT LIST -->
    <div id="healthpoint-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">

            <!-- LOOP OVER THE HEALTHPOINTS IN $scope.healthpoints -->
            <div class="checkbox" ng-repeat="healthpoint in healthpoints">
                <label>
                    <input type="checkbox" ng-click="deleteHealthPoint(healthpoint._id)"> {{ healthpoint.description }}
                </label>
            </div>

        </div>
    </div>

    <!-- FORM TO CREATE HEALTHPOINT (testing) -->
    <div id="todo-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">
                    <!-- BIND THIS VALUE TO formData.desc IN ANGULAR -->
                    <input type="text" class="form-control input-lg text-center" placeholder="Visited the shop" ng-model="formData.description">
                </div>
                <button type="submit" class="btn btn-primary btn-lg" ng-click="createHealthPoint()">Add</button>
            </form>
        </div>
    </div>

</div>

</body>
</html>

